Options +FollowSymLinks
RewriteEngine On

#склеивание www и без www
RewriteCond %{HTTP_HOST} !www.georgekazanba.github\.io$ [NC]
RewriteRule ^(.*)$ http://georgekazanba.github.io/1$ [R=301,L]

#переадресация index.html и index.php
RewriteCond {%THE_REQUEST} ^[A-Z]{3,9}\/index\.html\ HTTP/
RewriteRule ^index\.html$ http://georgekazanba.github.io [R=301,L]
RewriteCond {%THE_REQUEST} ^[A-Z]{3,9}\/index\.php\
HTTP/ RewriteRule ^index\.php$ http://georgekazanba.github.io [R=301,L]

#переадресация на https
RewriteCond %{SERVER_PORT} !^443$
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

ErrorDocument 404 /404.html
